/* Serve pra deixar os conteineres visiveis, tirar depois que terminar */
* {
  outline: 1px solid red;
}

.barra_superior{
    display: flex;
    justify-content: space-between;
}

.logo{
    padding: 20px;
    font-style: italic;
    font-size: 20px;
}
.menu_central{
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu_direito{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 15px;
}
.icones{
    width: 16px;
    height: 16px;
}

main{
    display: flex;
    justify-content: space-around;

}
.banner{
    margin-top: 70px;
    max-width: 500px;
}
.formulario{
    margin-top: 70px;
    max-width: 500px;
}